<!-- TITLE -->
<div class="mb-40 mt-40">
    <h1>Book Edit</h1>
</div>
<div class="card mb-40">
    <div class="card-header">
        <i class="fa fa-edit"></i> Edit
    </div>
    <div class="card-body">
        <form #editForm="ngForm" [ngClass]="{'was-validated': formValid!=null}">
            <div class="row justify-content-md-center">
                <div class="col-md-10">
                    <div class="form-group">
                        <label for="ISBN">ISBN *</label>
                        <input type="text" class="form-control" id="ISBN" [(ngModel)]="item.ISBN" name="ISBN" #ISBN="ngModel" required>
                        <div class="invalid-feedback">Value is required</div>
                    </div>
                    <div class="form-group">
                        <label for="author">Author</label>
                        <input type="text" class="form-control" id="author" [(ngModel)]="item.author" name="author" #author="ngModel" >
                    </div>
                    <div class="form-group">
                        <label for="category">Category</label>
                        <input type="text" class="form-control" id="category" [(ngModel)]="item.category" name="category" #category="ngModel" >
                    </div>
                    <div class="form-group">
                        <label for="genre">Genre</label>
                        <input type="text" class="form-control" id="genre" [(ngModel)]="item.genre" name="genre" #genre="ngModel" >
                    </div>
                    <div class="form-group">
                        <label for="language">Language</label>
                        <input type="text" class="form-control" id="language" [(ngModel)]="item.language" name="language" #language="ngModel" >
                    </div>
                    <div class="form-group">
                        <label for="sumary">Sumary</label>
                        <input type="text" class="form-control" id="sumary" [(ngModel)]="item.sumary" name="sumary" #sumary="ngModel" >
                    </div>
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" class="form-control" id="title" [(ngModel)]="item.title" name="title" #title="ngModel" >
                    </div>
                    <!-- RELATIONS -->
                    <h2 class="mb-20">Relations</h2>

                    <div class="pb-30">
                        <div class="mb-20">
                            <label>Authors</label>

                            <span class="dropdown ml-20">
                                <button class="btn btn-dropdown dropdown-toggle" type="button" id="dropdownMenuButtonauthors" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                    Add
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonauthors">
                                    <button class="dropdown-item" *ngFor="let item of listAuthors" [class.disabled]="containAuthor(item._id)" (click)="$event.preventDefault(); containAuthor(item._id) || addAuthor(item._id)">{{item._id}}
                                    </button>
                                </div>
                            </span>
                        </div>
                        <div class="mb-40">
                            <ul class="list-group">
                                <li class="list-group-item" *ngIf="!item.authors || item.authors.length == 0">No item found</li>
                                <li class="list-group-item" *ngFor="let obj of item.authors; let i = index">
                                    {{obj}}

                                    <button class="btn btn-danger pull-right" type="button" (click)="removeAuthor(i)">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>

                    
        

                    <!-- BUTTON BAR -->
                    <div class="mt-40">
                        <button class="btn btn-primary pull-right" (click)="save(editForm.valid, item)">Save</button>
                        <button class="btn btn-secondary pull-right mr-2" (click)="goBack()">Back To List</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>